@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --grey-200: hsl(0, 0%, 85%);

    --font-size: clamp(15px, 1vw, 16px);
}

body{
    font-family: var(--font-alata);
    font-size: var(--font-size);
    background-color: var(--grey-200);
}

.alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.alata-regular {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar{
    width: 100%;
    padding: 1em;
    display: flex;
    position: fixed;
    top: 10;
}

.navbar nav{
    display: none;
}

.navbar nav ul{
    display: flex;
    gap: 1em;
}

.navbar nav ul li{
    list-style: none;
}

.navbar nav ul li a{
    text-decoration: none;
}